.home_container {
  width: 100%;
  margin-bottom: 5rem;
}

.search_bar {
  display: flex;
  border-bottom: 1px var(--text-color) solid;
  border-left: 1px var(--text-color) solid;
  border-bottom-left-radius: 0.4rem;
  width: 30%;
  margin-top: 3rem;
  padding: 0.15rem 0.5rem;

  input {
    width: 100%;
    border: none;
    padding-left: 1rem;
  }
}

.home_table {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 22% 22% 22% 22%;
  margin-top: 1.2rem;
}

// .table_col {

// }

.task_col {
  display: block;
  border-bottom: 1px solid var(--accent-color);
  padding-left: 0.7rem;
  font-weight: 600;
  font-size: 1.4rem;
}
