:root {
  --text-color: #4d4642;
  --accent-color: #e0afa0;
  --backgroun-color: #f4f3ee;
  --wishlist-bg-color: #f4f3ee;
  --wishlist-text-color: #0037c3;
  --todo-bg-color: #d7e0a0;
  --todo-text-color: #8caf00;
  --inprocess-bg-color: #a0e0dc;
  --inprocess-text-color: #009e95;
  --done-bg-color: #a0e0aa;
  --done-text-color: #05931c;
  --delete-bg-color: #e0a0a0;
  --delete-text-color: #980202;
}
